<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net40" />
  <package id="SpecResults" version="0.1.0.6" targetFramework="net40" />
  <package id="SpecResults.Json" version="0.1.0.6" targetFramework="net40" />
</packages>